In [1]:
import pandas as pd
import sqlite3
import sqlalchemy

In [44]:
reactions = pd.read_csv('sampleReactions.csv', sep="\t")  
reactions

                                               comment                author
0    while most the country was all about Baby Shar...            biggabenne
1                        What happened with Chernobyl?              Gryffles
2    Surprised there wasn’t another Baby Shark spik...                Quople
3    Montana being the only state with Far Cry 5 wa...            jhdevils10
4    Fortnite lasted longer than George Floydd, BLM...                Conga-
..                                                 ...                   ...
470  I remember these huge ships getting paid to ta...          WaywardWords
471  Why does the simulation end up making the patc...               nomad80
472  Notice the steady stream coming out of China. ...            Tastyfeesh
473  this seems like bullshit... &#x200B; In Januar...  gregregregregregregr
474  What’s brilliant about that is it works like a...      Wassayingboourns

[475 rows x 2 columns]

In [47]:
df = pd.read_json("./sampleComments.json")


for (i, row) in enumerate(df.iterrows()):
    reaction = reactions.sample()
    df.loc[i, 'comment'] = reaction['comment'].values[0]
    df.loc[i, 'autor'] = reaction['author'].values[0]

df['id'] = df.index
df = df.drop(['value'], axis=1)
df['date'] = pd.to_datetime(df['date'], format='%Y/%m/%d')
df['date'] = df['date'].dt.date
df['createdAt'] = pd.to_datetime('today').normalize()
df['updatedAt'] = pd.to_datetime('today').normalize()

df

,date,comment,weight,country,autor,id,createdAt,updatedAt
0,2021-01-22,I had to look really close to the bottom to un...,4,Fiji,DeeKew005,0,2021-02-26,2021-02-26
1,2020-06-11,This is wrong. Based on the Deutsche Bank info...,4,Lebanon,bioche69,1,2021-02-26,2021-02-26
2,2020-08-10,There was a couple of them within a 40mn drive...,4,Iceland,TheWildManfred,2,2021-02-26,2021-02-26
3,2020-07-26,"with this amount of smoke, shouldn't there be ...",4,Lesotho,admin-eat-my-shit13,3,2021-02-26,2021-02-26
4,2020-09-08,"Very nice visualization, the only thing I woul...",3,Mongolia,m4xc4v413r4,4,2021-02-26,2021-02-26
...,...,...,...,...,...,...,...,...
49995,2020-11-05,"I am still looking for a \total unemployed\"" c...",3,El Salvador,haemaker,49995,2021-02-26,2021-02-26
49996,2020-03-16,This has to be one of the most enjoyable ways ...,4,Latvia,Brollgarth,49996,2021-02-26,2021-02-26
49997,2020-06-29,Well it’s safe to say firing Kevin Spacey kill...,4,Iceland,IHateCellophane,49997,2021-02-26,2021-02-26
49998,2020-10-31,To much demand and not really more supply. Or ...,4,Luxembourg,onkel_axel,49998,2021-02-26,2021-02-26
49999,2020-12-28,"Interesting graphic, I wonder how this would l...",2,Namibia,cnfan261311,49999,2021-02-26,2021-02-26

In [48]:
sqlite = sqlite3.connect("../server/coronaMemories.sqlite")
df.to_sql(con=sqlite, index=False, name='memories', if_exists='replace')